body {
  font-family: "UnifrakturCook", cursive;
}

.jogo {
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 214);
  width: 100%;
  height: 100%;
}

.linha {
  display: inline-flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center; /* alinha vertical */
  gap: 40px; /* espaço entre imagens */
  width: 100%;
}

.jogador {
  justify-content: center; /* centraliza horizontal */
  align-items: center; /* alinha vertical */
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
}

.borda {
  border: 1px solid black;
}

.vida {
  width: 100%;
  border: 2px;
}

.marginAuto {
  margin: auto;
}

.flexivel {
  display: flex;
}

.barraVida {
  width: 100%;
  height: 20px;
  background-color: red;
}

button {
  height: 30px; /* altura */
  width: 300px; /* largura */
  border: 5px solid red; /* borda vermelha */

  display: flex; /* ativa o layout flexível (Flexbox) texto */
  justify-content: center; /* centraliza horizontal */
  align-items: center; /* centraliza vertical */

  margin: 20px auto; /* adiciona espaço externo ao redor do botão */
  text-align: center; /* garante que o texto fique centralizado */
}

button:hover {
  transform: scale(1.25);
  font-size: 50px;
}

.console {
  background-color: black;
  align-items: center;
  color: white;
  height: 300px;
  padding: auto;
  margin: 10px;
  overflow: auto;
  overflow-y: auto;
}

.console::-webkit-scrollbar       { width: 5px; }
.console::-webkit-scrollbar-track { background: transparent; }
.console::-webkit-scrollbar-thumb { background: var(--border); border-radius: 3px; }

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
}

img {
  width: 200px;
  height: 300px;
}

h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
